.container {
  display: flex;
  background-size: cover;
  justify-content: center;
  margin: 0px 5px 0px 5px;
  height: calc(100vh - 60px);
  /* border: 2px solid yellow; */
  flex-direction: column;
  flex-wrap: nowrap;
}
.title {
  display: flex;
  color: rgb(237, 237, 237);
  flex-direction: column;
  font-family: "Srisakdi", cursive;

  /* justify-content: center; */
  /* border: 2px solid rgb(21, 255, 0); */
  font-size: 25px;
}
.services-container {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.offering {
  height: 400px;
  width: 200px;
  background-color: lightgrey;
}

h1 {
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  .services-container {
    flex-direction: column;

    margin-top: 10%;
  }

  .title {
    flex-direction: column;
    z-index: 2;
  }

  .offering {
    display: flex;
    flex-direction: column;
  }
}
