.container {
  display: flex;
  /* background-image: url("https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"); */
  background-size: cover;
  justify-content: center;
  margin: 0px 10px 0px 10px;
  height: calc(100vh - 60px);
  /* border: 5px solid yellow; */
  flex-direction: column;
  flex-wrap: wrap;
}
.about-title h1 {
  display: flex;
  justify-content: center;
  /* border: 5px solid rgb(21, 255, 0); */
  font-size: 18px;

  color: rgb(197, 197, 197);
}

.profile {
  padding: 20px 0px;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  /* border: 5px solid rgb(76, 0, 255); */
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  /* border: 5px solid red; */
  height: 20%;
}
.profile p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.skills-list ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* border: 2px solid white; */
}
li {
  color: white;
  border: 2pz solid white;
}
.skills-title h1 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;

  color: rgb(197, 197, 197);
}

@media screen and (max-width: 353px) {
  .profile p {
    font-size: 12px;
  }
  .about-title h1 {
    font-size: 14px;
  }
  .skills-title h1 {
    font-size: 14px;
  }
}
