.container {
  display: flex;
  background-size: cover;
  justify-content: center;
  margin: 0px 5px 0px 5px;
  height: calc(100vh - 60px);
  /* border: 5px solid yellow; */
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.about-title h1 {
  display: flex;
  justify-content: center;
  /* border: 5px solid rgb(21, 255, 0); */
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Srisakdi", cursive;

  color: rgb(197, 197, 197);
}

.profile {
  padding: 0px 0px;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  /* border: 5px solid rgb(76, 0, 255); */
}

.about-container {
  display: flex;
  flex-direction: column;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: rgb(192, 189, 182);
}

.profile p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.skills-list {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Roboto", sans-serif;

  /* border: 2px solid white; */
}
span {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: white;
  font-size: 1em;
}

.skills-title h1 {
  font-size: 40px;
  font-family: "Srisakdi", cursive;
  text-transform: uppercase;
  color: rgb(197, 197, 197);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .profile p {
    font-size: 15px;
  }
  .about-title h1 {
    font-size: 35px;
  }
  .skills-title h1 {
    font-size: 35px;
  }

  span {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-size: 1em;
  }
  a:hover {
    color: rgb(192, 189, 182);
  }

  .skills-list {
    font-size: 1em;
  }
}
