.container {
  display: flex;
  background-size: cover;
  justify-content: center;
  margin: 0px 5px 0px 5px;
  height: calc(100vh - 60px);
  /* border: 5px solid yellow; */
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.about-title h1 {
  display: flex;
  justify-content: center;
  /* border: 5px solid rgb(21, 255, 0); */
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

.profile {
  padding: 0px 0px;
  justify-content: center;
  max-width: 50%;
  /* border: 5px solid rgb(76, 0, 255); */
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid rgb(76, 0, 255); */
  display: flex;
  flex-direction: column;
}
a {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: rgb(232, 176, 47);
}

.profile p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .profile p {
    font-size: 16px;
  }
  .about-title h1 {
    font-size: 30px;
  }
  .profile {
    max-width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .profile p {
    font-size: 14px;
  }
  .about-title h1 {
    font-size: 25px;
    padding-top: 15px;
  }
  .profile {
    max-width: 85%;
  }
}
