.app {
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 2px 10px 2px 10px;
  /* border: 2px solid black; */
}

header {
  display: flex;
  justify-content: baseline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(92, 89, 89);
  /* border: 2px solid black; */
  margin: 0px 8px 0px 8px;
}
header a {
  text-decoration: none;
  border: none;
  color: rgb(92, 89, 89);
}
.fab,
.fas {
  font-size: 36px;
  align-content: center;
  color: rgb(92, 89, 89);
}

nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;

  /* border: 2px solid rgb(12, 201, 81); */
}

nav a {
  padding-left: 10px;
}

.navborder {
  display: flex;
  /* border: 2px solid black; */
  width: 100%;
  padding: 3px;
  overflow: hidden;
}
.navborder :hover {
  cursor: pointer;
}

.burger {
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  /* justify-content: space-between; */
  background-image: url("http://www.stickpng.com/assets/images/588a64e7d06f6719692a2d11.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.burger:hover {
  cursor: pointer;
}
.spacer {
  flex: 1;
}

/* media  */

@media screen and (max-width: 600px) {
  .nav-open {
    display: flex;
    flex-direction: column;
  }

  .nav-closed {
    display: none;
  }

  .burger {
    display: flex;
    right: 5%;
    top: 4px;
  }
  nav {
    display: flex;
    flex-direction: column;
    background: white;
    text-align: right;
  }

  .nav-open a {
    margin: 0;
    line-height: 1.6;
  }

  header {
    padding-top: 30px;
  }
}
