.container {
  display: flex;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  justify-content: center;
  margin: 0px 10px 0px 10px;
  height: calc(100vh - 60px);
  /* border: 5px solid yellow; */
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.slogan {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 20%; */
  font-size: 25px;
  margin: 0;
  /* border: 5px solid rgb(21, 255, 0); */
}

.quote {
  display: flex;
  justify-content: center;
  border: 5px solid rgb(76, 0, 255);
}
