/* .card-container {
} */

.header {
  font-family: "Apple Chancery";
  font-size: 65px;
  padding-top: 300px;
  text-align: center;
  /* border: 3px solid green; */
  color: rgba(7, 53, 65, 0.966);
}
.tagline {
  text-align: center;
  font: "Roboto";
  font-size: 30px;
  color: rgba(10, 41, 52, 0.776);
  font-weight: bold;
}
.description {
  font: "Apple Chancery";
  font-size: 25px;
  font-weight: bold;
  color: rgba(39, 43, 43, 0.966);
}
.card {
  position: relative;
  text-align: center;
  line-height: 100px;
  height: 300px;
  width: 600px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}
.links {
  display: flex;
  justify-content: center;
  color: rgba(39, 43, 43, 0.966);
}
.center {
  text-align: center;
}
.contact {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
