.container {
  display: flex;
  background-size: cover;
  justify-content: center;
  margin: 0px 5px 0px 5px;
  height: calc(100vh - 60px);
  /* border: 2px solid yellow; */
  flex-direction: column;
  flex-wrap: nowrap;
}

.work-title h1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* border: 2px solid rgb(21, 255, 0); */
  font-size: 28px;
}

.work-container {
  margin-top: 5px;
  align-items: center;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* border: 5px solid blue; */
  padding: 0px;
}
.project {
  /* border: 2px solid black; */
  margin: 20px 0px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
  width: 80%;
  /* height: 100%; */
}
.project:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  /* background: rgb(215, 215, 215); */
  width: 90%;
  /* opacity: 0.4; */
}

a:hover {
  /* background-color: #40ffffff; */
  color: rgb(43, 42, 40);
}

p {
  font-size: 14px;
  margin: 2px;
  font-family: "Roboto", sans-serif;
}
.fa-github {
  color: aliceblue;
  padding-top: 40px;
  font-size: 50px;
}

.project-title {
  font-size: 20px;
  color: rgb(197, 197, 197);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.links,
a {
  /* font-weight: bold; */
  text-decoration: none;
  cursor: pointer;
  /* border:
   2px solid black; */
}

/* media queries 
@media screen and (max-width: 768px) {
  #work-container {
    display: flex;
  }
  .project-title {
    font-size: 15px;
  }
  .title h1 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .project-title {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
  .project:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    width: 50%;
  }
}
*/

@media screen and (max-width: 375px) {
  .project-title {
    font-size: 12px;
  }
  .title h1 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  .fa-github {
    color: aliceblue;
    padding-top: 20px;
    font-size: 20px;
  }
}
/*  
@media screen and (max-width: 1200px) {
  .project-title {
    font-size: 22px;
  }
  .title h1 {
    font-size: 50px;
  }
  p {
    font-size: 22px;
  }
}
*/
