.container {
  display: flex;
  background-size: cover;
  justify-content: center;
  margin: 0px 5px 0px 5px;
  height: calc(100vh - 60px);
  /* border: 2px solid yellow; */
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.project-container {
  display: flex;
  /* border: 5px solid blue; */
}

.work-title {
  font-size: 45px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.project {
  margin: 15px;
  /* border: 2px solid white; */
}
/* 
.project:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
 */

/* makes image responsive */
img {
  width: 100%;
  height: auto;
  padding: 4px;
  border-radius: 5px;
}

a:hover {
  /* background-color: #40ffffff; */
  color: rgb(232, 176, 47);
}

p {
  /* border: 2px solid white; */
  font-size: 0.8em;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: rgb(242, 234, 234);
}
.fa-github,
.fa-rocket {
  color: rgb(255, 255, 255);
  padding-top: 10px;
  font-size: 30px;
}

.project-title {
  font-size: 1em;
  color: rgb(235, 230, 230);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.links,
a {
  display: flex;
  justify-content: space-evenly;
  /* font-weight: bold; */
  text-decoration: none;
  cursor: pointer;
  /* border:
   2px solid black; */
}

/* media queries  */
@media screen and (max-width: 768px) {
  .container {
    overflow: auto;
  }
  .project-container {
    height: 500px;
    display: block;
    flex-direction: column;
  }
  .work-title {
    font-size: 35px;
    color: rgb(235, 230, 230);
  }
  .fa-github,
  .fa-rocket {
    font-size: 22px;
  }
  .project-title {
    padding-top: 20px;
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
    padding-top: 2px;
  }
  .blurb {
    padding-top: 5px;
  }
  .caveat {
    font-size: 0.8em;
  }
}
